PUSHI 1
PUSHI 0
START
PUSHG 0
PUSHI 0
EQUAL
JZ else1
PUSHG 1
PUSHI 1
EQUAL
JZ else0
PUSHI 2
WRITEI
JUMP endif0
else0: NOP
PUSHI 1
WRITEI
endif0: NOP
JUMP endif1
else1: NOP
PUSHI 0
WRITEI
endif1: NOP
STOP
